body 
{
    margin: 0px;
    padding: 0px;
}

#header
{
    padding: 0px;
    margin: 0px;
}

#right
{
    width: 80%;
    float: right;
}

#nav-left
{
    width:20%;
    float: left;
}

.content
{
    background-color: #333333;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
.content a
{   
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.content:hover
{
    background-color: #111111;
}

#left-main
{
    float: left;
    width: 15%;
    padding: 0px;
    margin: 0px;
}

#right-main
{
    float: right;
    width: 15%;
    padding: 0px;
    margin: 0px;
}

#middle-main
{
    float: center;
    width: 70%;
    padding: 0px;
    margin: 0px;
}

#foot 
{
    float: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
