* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0;
}

body > * {
    margin: 0 auto;
    text-transform: uppercase;
    font-family:'Source Sans Pro';
}

nav {
    width: 100%;
    color: #fff;
}

nav.nav {
    background: #050505;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

nav.nav > div > div {
    position: relative;
    margin: 0 15px
}

nav > div > * {
    display: inline-block;
}

nav.nav > div > div > a {
    border-bottom: 5px solid #050505;
    font-size: 25px;
    height: 70px;
    line-height: 70px;
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
}

nav.nav > div > div > a:hover {
    border-bottom: 5px solid rgba(43, 206, 52, 0.8);
    font-size: 28px;
}

div#jpg {
    position: relative;
    height: 576px;
}

div#jpg > div.background {
    background: url('./images/saske.jpg');
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blocks {
    margin: auto 30% auto 30%;
    color: #010101;
}

.content_blocks > h3 p {
    text-align: center;
}


.blocks .content_blocks {
    text-transform: none;
    margin-bottom: 60px;
    border-bottom: 3px solid rgba(43, 206, 52, 0.8)
}

.content_blocks > h3:target {
    color: rgba(43, 206, 52, 0.8);
    font-size: 28px;
    transition: 0.5s;
}

