body
{
    margin: 0;
    overflow-x: hidden;
}

#background > img
{
    background-size: contain;
}

#background 
{
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
}

#nav 
{
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
}

.table 
{
    margin: 0px;
}

.table li
{
    list-style-type: none;
    background-color: #111111;
    
}

.table li:hover 
{
    background-color: #333333;
}

.table li a 
{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
}
